html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.panel {
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right-panel {
    flex: 1;
    border-left: 1px solid #ccc;
}

#embed {
    width: 100%;
    height: 100%;
}


.header-container {
    background-color: #ffffff;
    padding: 14px 10px;
    font-family: 'Roboto', Arial, sans-serif;
}


.main-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-on-surface, #000);
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;

}


.subtitle {
    font-size: 14px;
    font-weight: 100;
    color: var(--color-primary, #000);
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 0.1px;
    margin-top: 5px;
    margin-bottom: 0;

}

#color-dropdown {
    padding: 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

.dropdown-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-label {
    margin-bottom: 8px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: var(--color-on-surface, #000);
}

@media (max-width: 699px) {
    .container {
        flex-direction: column;
    }

    .panel {
        min-height: 0;
    }

    .right-panel {
        border-left: none;
        border-top: 1px solid #ccc;
    }
}